* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

img {
  height: 210px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.carousel {
  background-color: rgb(207, 71, 71);
  width: 800px;
  margin: 100px auto;
  padding: 32px 48px 32px 86px;
  /* padding: 32px;
  padding-left: 86px;
  padding-right: 48px; */
  border-radius: 8px;
  position: relative;
  display: flex;
  /* align-items: center; */
  gap: 86px;
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}

.testimonial-author {
  font-size: 14px;
  color: #c3fae8;
}

.testimonial-job {
  font-size: 12px;

  color: #c3fae8;
}

/* Controls */

.btn {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: rgb(207, 71, 71);
}

.btn--left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 32px);

  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 2px solid rgb(207, 71, 71);
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: rgb(207, 71, 71);
}
